@font-face {
  font-family: Gentleman;
  src: url(../assets/Gentleman/Gentleman-200-Thin.woff);
  font-weight: 200; }

@font-face {
  font-family: Gentleman;
  src: url(../assets/Gentleman/Gentleman-400-Light.woff);
  font-weight: 400; }

@font-face {
  font-family: Gentleman;
  src: url(../assets/Gentleman/Gentleman-500-Book.woff);
  font-weight: 500; }

@font-face {
  font-family: Gentleman;
  src: url(../assets/Gentleman/Gentleman-600-Regular.woff);
  font-weight: 600; }

@font-face {
  font-family: Gentleman;
  src: url(../assets/Gentleman/Gentleman-700-Medium.woff);
  font-weight: 700; }

@font-face {
  font-family: Gentleman;
  src: url(../assets/Gentleman/Gentleman-800-Bold.woff);
  font-weight: 800; }

@font-face {
  font-family: Gentleman;
  src: url(../assets/Gentleman/Gentleman-900-Heavy.woff);
  font-weight: 900; }

/* line 52, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, button:focus, button:active, button:hover {
  outline: 0px !important;
  -webkit-appearance: none; }

/* line 57, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
body {
  background: white;
  font-family: Source Sans Pro; }

/* line 62, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
.app {
  position: relative;
  display: table;
  overflow: scroll;
  height: 650px;
  width: 375px;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
  background: #363D45; }

/*HEADER*/
/* line 75, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
.header {
  position: relative;
  font-family: Gentleman;
  width: 100%;
  height: 60px;
  background: #407892; }
  /* line 81, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
  .header td {
    text-align: center;
    font-size: 14px; }
  /* line 85, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
  .header a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer; }
  /* line 90, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
  .header a:active {
    color: white; }
  /* line 93, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
  .header .app-title {
    color: white;
    font-weight: 800;
    font-size: 24px;
    text-align: center; }

/* line 101, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
.welcome {
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  padding: 15px;
  font-weight: 300; }

/*TASK LIST*/
/* line 110, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
.task-list h1 {
  color: #333333; }

/* line 115, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
.no-task {
  font-family: 'Source Sans Pro';
  padding: 15px;
  font-size: 16px; }

/* line 121, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
.active-task {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

/* line 131, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
.add-task {
  height: 60px;
  position: fixed;
  top: 600px;
  padding: 10px;
  z-index: 100; }
  /* line 137, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
  .add-task button {
    margin-left: 10px;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 6px;
    width: 40px;
    height: 40px;
    z-index: 100;
    background: #DA1E5B;
    border: none;
    border-radius: 50px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }

/* line 153, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
.add-form {
  margin-left: 15px;
  width: 200px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #DA1E5B;
  color: white; }

/* line 162, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
.plus-button:hover {
  background: #E84387; }

/* line 168, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
.trash-button {
  padding-left: 15px;
  background-color: none;
  border: none;
  color: rgba(255, 255, 255, 0.5); }
  /* line 173, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
  .trash-button .fa:hover {
    color: white;
    cursor: pointer; }

/* line 179, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
.check-button {
  padding: 0px; }
  /* line 181, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
  .check-button button {
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #DA1E5B; }
    /* line 185, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
    .check-button button .fa {
      color: rgba(255, 255, 255, 0.1); }
  /* line 190, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
  .check-button button:hover .fa {
    color: white; }

/* line 196, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
.checked-button {
  padding: 0px; }
  /* line 198, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
  .checked-button button {
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #DA1E5B; }
    /* line 202, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
    .checked-button button .fa {
      color: white; }
  /* line 207, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
  .checked-button button:hover .fa {
    color: rgba(255, 255, 255, 0.1); }

/* line 213, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
.priority {
  padding: 0 5px;
  font-size: 12px;
  color: gray;
  font-family: 'Source Sans Pro';
  vertical-align: middle; }

/* line 221, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
.custom-dropdown {
  margin-left: 10px;
  width: 70px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #DA1E5B;
  border-radius: 0 !important;
  -webkit-appearance: none;
  color: white; }

/* line 232, /Users/AnhLe/Desktop/Duit/stylesheets/main.scss */
select:focus {
  outline: none !important; }

/*# sourceMappingURL=main.css.map */