<div ng-controller='FirebaseCtrl'>
    <!-- push a new task onto the array -->

    <!-- Empty list promt -->
    <div ng-hide="tasks.length" class="welcome">You don't have any active task yet. Add new task using the form at the bottom</div>

    <!-- Task list -->
    <div ng-repeat="task in tasks" class="active-task" ng-hide="task.completed || checkDate(task)">
        <table>
        	<tr class="row">
                <!-- Check button -->
                <td class="check-button col-xs-1">
                    <button ng-click="changeState(task)"><i class="fa fa-check"></i></button>
                </td>
                <!-- Task text -->
                <td class="task col-xs-9"> {{task.text}}</td>
                <!-- Task priority -->
                <td class="priority col-xs-1">{{task.priority}}</td>
                <!-- Remove task -->
                <td class="trash-button col-xs-1" ng-click="tasks.$remove(task)"><i class="fa fa-trash"></i></td>
            </tr>
        </table>
    </div>


    <!-- Add new task -->
    <div class="add-task">
      <form name="myForm" ng-submit="addTask()">
        <input name="contact-from" class="add-form" ng-model="newTaskText" placeholder="Add new task"/>
        <select class="custom-dropdown" ng-model="priority.type" ng-options="option.value as option.name for option in priorityOptions">
        </select>
        <button class="plus-button" type="submit" onclick="submitForm()">+</button>
    </form>
</div>

</div>



